#body {
	background: #3A3A3A;
	border-radius: 8px;
	border: 1px solid #333;
}

QLabel {
	color: white;
	font-size: 17px;
}

#btnClose {
	background: transparent;
	color: red;
	font-size: 35px;
}

#btnClose::hover {
	font-size: 39px;	
}

#filtro {
	background-color: #333;
	font-size: 16px;
	padding-left: 10px;
	color: #BBB;
	border-radius: 5px;
	border: none;
	border: 1px solid #BBB;
}


#ok {
	border-radius: 8px;
	background: #3A959A;
	color: white;
	font-size: 21px;
}

#ok:disabled {
    background: grey;
}

#ok::hover {
	font-size: 23px;
}

#hr {
	background: #861C24;
}



QListView {
    background-color: #3A3A3A;
    background-attachment: scroll;
    color: white;
    margin: 1px;
    show-decoration-selected: 1;
}

QListView::item:selected {
    border: 1px solid #3A959A;
    background: #3A959A;
}

QListView::item:hover {
    background: #2A955A;
}




/*********************************************************************************/
/*********************************************************************************/
/*********************************** COMBO BOX ***********************************/
/*********************************************************************************/
/*********************************************************************************/


QComboBox {
    background: transparent;
    color: white;
    font: 14px;
    border-radius: 6px;
    border: 2px solid #BBB;
    padding-left: 7px;
}


QComboBox QAbstractItemView {
    /*items*/
    background: white;
    selection-background-color: #1D222F;
    color: #1D222F;
}

QComboBox::drop-down { image: url(img/drop-w.png);
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 14px;
    margin-right: 10px;
}


/*********************************************************************************/
/*********************************************************************************/
/*********************************** SCROLL BARR *********************************/
/*********************************************************************************/
/*********************************************************************************/

QScrollBar:horizontal {
	/*barra*/
    border: none;
    background: transparent;
    height: 15px;
    margin: 2px 13px 0 13px;
}
QScrollBar::handle:horizontal {
	/*barra*/
    background: #3A959A;/*blue*/
    min-width: 20px;
}
QScrollBar::add-line:horizontal {
	/*lado derecho*/
    border: none;
    background: none;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	/*lado izquierdo*/
	border: none;
    background: none;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    border: none;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background: #3A959A;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	/*fondo de la barra*/
    background: transparent;
}


QScrollBar:vertical {
	/*barra*/
    border: none;
    background: transparent;
    width: 15px;
    margin: 15px 0px 15px 2px;
}
QScrollBar::handle:vertical {
	/*barra*/
    background: #3A959A;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
	/*lado inferior*/
    border: none;
    background: none;
    height: 14px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	/*lado superior*/
	border: none;
    background: none;
    height: 8px;
    padding-top: 4px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: none;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background: #3A959A;
    margin-left: 2px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	/*fondo de la barra*/
    background: transparent;
}
