#widget {
	background: #3A3A3A;
	border-radius: 8px;
}


#top {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	background-color: #333;
}

#btnClose {
	background: transparent;
	color: red;
	font-size: 35px;
	border: none;
}

#btnClose::hover {
	font-size: 39px;	
}

#lblLogo {
	font-family: "Arial", Helvetica, sans-serif;
	font-style: inherit;
	font-size: 29px;
	color: #EEE;
	text-align: center;
    font-weight: bold;
    background: transparent;
}

#descripcion, #text {
	color: #EEE;
	font-size: 15px;
}

#lineEditCode, #lineEditPass {
	background-color: #333;
	font-size: 20px;
	padding-left: 10px;
	color: #BBB;
	border-radius: 5px;
	border: none;
}

#btnLogin {
	background: #3A959A;
	color: #EEE;
	border-radius: 5px;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 23px;
	font-style: inherit;
}

#btnLogin::hover {
    font-weight: bold;
}

#btnLink {
	background: transparent;
	font-size: 15px;
	color: #33B5E5;
	border: none;
}